# Core framework
fastapi==0.110.0
uvicorn[standard]==0.29.0
fastapi-cache>=0.1.0
fastapi_cache==0.1.0
fastapi-cache2



# Database
sqlalchemy==2.0.28
asyncpg==0.29.0
psycopg2==2.9.10

# Document Parsing
docx
python-docx
pymupdf
pdf2image==1.16.3

# LLMs
google-generativeai==0.3.0
openai==0.27.0

# Data validation
pydantic==2.6.4
pydantic-settings==2.2.1

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

# CORS
fastapi[all]==0.110.0

# Environment variables
python-dotenv==1.0.1

# Migrations
alembic==1.13.1
